*::selection {
  color: black;
  background-color: red;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #000;
    color: #fff;
}

header h1 {
    margin-bottom: 0.25rem;
    overflow: hidden;
    margin-top: 0;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-family: monospace;
    line-height: 1;
    margin: 0;
    white-space: pre;
    padding: 15px;
    text-align: center;
}

.logo:hover {
    color: red;
}

header:has(.logo:hover) + main article:first-of-type {
    border-top-color: red;
}

nav {
    margin-bottom: 2rem;
}

nav a {
    margin-right: 1rem;
}

article:first-of-type:has(.article-link:hover) {
    border-top-color: red;
}

/* article:first-of-type {
    padding-top: 0;
} */

article h2 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: justify;
    text-align-last: justify;
    text-wrap: balance;
}

.article-link {
    text-decoration: none;
    display: block;
}

.article-link:hover h2,
.article-link:hover .meta {
    color: red;
}

article:has(.article-link:hover) {
    border-bottom-color: red;
}

article:has(.article-link:hover) .content {
    border-top-color: red;
}

article:has(+ article:hover) {
    border-bottom-color: red;
}

.meta {
    color: #fff;
    margin: 5px 15px 0 15px;
    padding: 0 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 500;
}

.source-list li {
    display: inline;
    margin: 0;
}

.source-list a::after {
    content: ",";
    display: inline-block;
    margin-left: 3px;
}

.source-list li:last-of-type a::after {
    content: ".";
}

.source-list li:last-of-type::before {
    content: "and ";
}

.source-list li:first-of-type::before {
    content: "*";
    margin-right: -5px;
}

.source-list {
    padding: 0;
    margin: 0 0 20px 0;
}

.source-list a {
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
}

.source-list a:hover {
    text-decoration: none;
}

.stats-list {
    padding: 0;
    margin: 0 0 20px 0;
    text-transform: capitalize;
}

/* .stats-list::before {
    content: "↳";
} */

.stats-list li {
    display: inline;
    margin: 0;
}

/* .stats-list li::after {
    content: " / ";
}

.stats-list li:last-of-type::after {
    content: "";
} */

.source::after {
    content: none;
}

.content p {
    margin: 0 0 20px 0;
}

.content p:last-child {
    margin-bottom: 0;
}

.content h2, h3, h4 {
    text-transform: unset;
    text-align: left;
    text-align-last: left;
    padding: 0;
    color: #fff;
    font-weight: 400;
}

footer {
    color: #fff;
    font-size: 6.3vw;
    font-weight: 800;
    line-height: 5vw;
    text-align: justify;
    text-align-last: justify;
    text-wrap: balance;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: red;
}

main:has(+ footer:hover) article:last-of-type {
    border-bottom-color: red;
}

article:has(~ footer:hover) .content {
    border-top-color: red;
}

a {
    color: #fff;
    text-decoration: underline;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 899px) {
    article {
        border-bottom: 2px solid #fff;
    }
    article:first-of-type {
        border-top: 2px solid #fff;
    }
    article h2 {
        font-size: 3.5rem;
        line-height: 3.1rem;
        /* text-align: left;
        text-align-last: left; */
        margin: 10px 10px 5px 10px;
    }
    footer {
        font-size: 3.5rem;
        line-height: 3.1rem;
        margin: 10px;
    }
    .meta {
        font-size: 2.4rem;
        line-height: 2.6rem;
        flex-direction: column;
        margin: 5px 10px 0 10px;
        padding-bottom: 10px;
    }
    .content {
        font-size: 2.4rem;
        line-height: 2.6rem;
        padding: 10px;
        border-top: 2px solid #fff;
    }
    .content p {
        margin: 0 0 10px 0;
    }
    .actions {
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin: 0 10px 10px 10px;
    }
    .logo-large {
        display: none;
    }
    .logo-medium {
        display: none;
    }
    .logo-small {
        display: block;
    }
    .source-list a {
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
    .stats-list {
        margin: 0 0 10px 0;
    }
    .source-list {
        margin: 0 0 10px 0;
    }
}

@media screen and (min-width: 900px) and (max-width: 1299px) {
    article {
        border-bottom: 3px solid #fff;
    }
    article:first-of-type {
        border-top: 3px solid #fff;
    }
    article h2 {
        font-size: 4.5rem;
        line-height: 4.1rem;
        margin: 15px 15px 5px 15px;
    }
    footer {
        font-size: 4.5rem;
        line-height: 4.1rem;
        margin: 15px;
    }
    .meta {
        font-size: 3.5rem;
        line-height: 3.8rem;
        padding-bottom: 15px;
    }
    .content {
        font-size: 3.5rem;
        line-height: 3.8rem;
        padding: 15px;
        border-top: 3px solid #fff;
    }
    .actions {
        font-size: 3.5rem;
        line-height: 3.8rem;
        margin: 0 15px 15px 15px;
    }
    .logo-large {
        display: block;
    }
    .logo-medium {
        display: none;
    }
    .logo-small {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    article {
        border-bottom: 4px solid #fff;
    }
    article:first-of-type {
        border-top: 4px solid #fff;
    }
    article h2 {
        font-size: 6rem;
        line-height: 4.8rem;
        margin: 15px 15px 5px 15px;
    }
    footer {
        font-size: 6rem;
        line-height: 4.8rem;
        margin: 15px;
    }
    .meta {
        font-size: 3.5rem;
        line-height: 3.8rem;
    }
    .content {
        font-size: 3.5rem;
        line-height: 3.8rem;
        padding: 5px 15px 15px 15px;
        border-top: 4px solid #fff;
    }
    .actions {
        font-size: 3.5rem;
        line-height: 3.8rem;
        margin: 0 15px 15px 15px;
    }
    .logo-large {
        display: block;
    }
    .logo-medium {
        display: none;
    }
    .logo-small {
        display: none;
    }
}