{% extends "base.html" %}

{% block title %}about bandwidth.click{% endblock %}

{% block content %}
<article class="content">
    <p>Bandwidth is a data-accessible news aggregator featuring only the most trusted independent, non-profit, and open-source publishers.</p>

    {% if stats %}
        <ul class="stats-list">
            <li>✿&#xFE0E; {{ "{:,}".format(stats.pageviews) }} pageviews ☘&#xFE0E;</li>
            <li>{{ "{:,}".format(stats.regenerations) }} regenerations <span style="font-size: .8em;">♻&#xFE0E;</span></li>
            <li>{{ sources|length }} ingested news sources ⚘&#xFE0E;</li>
            <li>{% if stats.days_since_incident is not none %}{{ stats.days_since_incident }} days since last incident{% else %}no incidents recorded{% endif %} ✝&#xFE0E;</li>
        </ul>
    {% endif %}

    <p>Here's how it works: every 10 minutes, we fetch the latest stories from our list of sources* and generate a static bundle of pure HTML and CSS. We collect no personal information, usage patterns, or identifying data. We use no client-side JavaScript, images, cookies, or tracking pixels. W.Y.S.I.W.Y.G.</p>

    <ul class="source-list">
        {% for source in sources %}
        <li>
            <a href="{{ source.homepage }}">{{ source.name }}</a>
        </li>
        {% endfor %}
    </ul>
</article>
{% endblock %}