<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bandwidth{% endblock %}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- <header>{{ logo|safe }}</header> -->
     <header>
<h1><a href="/"><pre class="logo logo-large" style="font-size: 2.3vw; letter-spacing: .2em; font-weight: 800;">
BBBB    A   N   N DDDD  W   W IIIII DDDD  TTTTT H   H
B   B  A A  NN  N D   D W   W   I   D   D   T   H   H
BBBB  AAAAA N N N D   D W W W   I   D   D   T   HHHHH
B   B A   A N  NN D   D W W W   I   D   D   T   H   H
BBBB  A   A N   N DDDD   W W  IIIII DDDD    T   H   H
</pre></a></h1>

<h1><a href="/"><pre class="logo logo-small" style="font-size: 4.1vw; letter-spacing: .2em; font-weight: 800; line-height: .9em; text-align: center;">
BBBB    A   N   N DDDD  \\\\ 
B   B  A A  NN  N D   D *****
BBBB  AAAAA N N N D   D *|||*
B   B A   A N  NN D   D *****
BBBB  A   A N   N DDDD  //// 
=============================
W   W IIIII DDDD  TTTTT H   H
W   W   I   D   D   T   H   H
W W W   I   D   D   T   HHHHH
W W W   I   D   D   T   H   H
 W W  IIIII DDDD    T   H   H
</pre></a></h1>
</header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="/about.html">Last updated: <time datetime="{{ updated|format_iso }}">{{ updated|format_datetime }}</time></a>
    </footer>
</body>
</html>
